<tr id="<%= issue.id %>" class="issue hascontextmenu <%= cycle('odd', 'even') %> <%= "status-#{issue.status.position} priority-#{issue.priority.position}" %>">
  <td><input type="button" class="hide-button <%=state%>" value="-"/></td>
  <td class="subject">
    <%= link_to "#{issue.id} - #{h(truncate(issue.subject,80))}", :controller => :issues, :action => :show, :id => issue %>
  </td>
  <% hours = TimeEntry.get_hours_by_date(@week_start, issue) %>
  <% week_days.each_with_index do |day, offset| -%>
    <% content_tag :td, :class => "#{day.downcase} border-cell date" do %>
      <%= text_field_tag day.downcase, hours[offset], :size => 2, :maxlength => 5, :tabindex => week_counter*7 + offset + 1 + (issue.admin? ? 1000 : 0) %>
    <% end -%>
  <% end -%>
  <td class = "border-cell">
    <% subtotal = TimeEntry.get_total(@week_start, issue) %>
    <% @total += subtotal %>
    <%= text_field_tag 'total', subtotal, :size=>2, :maxlength=>1, :readonly=>"readonly", :id=>"#{issue.id}-total", :class=>"total" %>
  </td>
</tr>
