<tr id="issue-<%= issue.id %>" class="issue hascontextmenu <%= cycle('odd', 'even') %> <%= "status-#{issue.status.position} priority-#{issue.priority.position}" %>">
  <td class="remove"><input type="checkbox" class="hide-box"/></td>
  <td class="subject project"><%= link_to "#{issue.project.name}", :controller => :projects, :action => :show, :id => issue.project %></td>
  <td class="subject">
    <%= link_to "#{issue.id} - #{h(truncate(issue.subject,80))}", :controller => :issues, :action => :show, :id => issue %>
  </td>
  <% hours = TimeEntry.get_hours_by_date(@week_start, issue) %>
  <% week_dates(@week_start).each_with_index do |date, offset| -%>
    <% day = date.strftime('%a').downcase %>
    <% content_tag :td, :class => "#{day} border-cell date" do %>
      <%= text_field_tag day, number_with_precision(hours[offset], :precision => 2), :class => day, :tabindex => week_counter*7 + offset + 1 + (issue.admin? ? 1000 : 0),
            :title => hours[offset], :'data-rvalue' => hours[offset], :'data-issue' => issue.id, :'data-date' => "#{date.month}/#{date.day}/#{date.year}" %>
    <% end -%>
  <% end -%>
  <td class = "total_column">
    <% subtotal = TimeEntry.get_total(@week_start, issue) %>
    <% @total += subtotal %>
    <%= text_field_tag 'total', number_with_precision(subtotal, :precision => 2), :size=>2, :maxlength=>1, :readonly=>"readonly", :id=>"#{issue.id}-total", :class=>"total", :title => subtotal %>
  </td>
</tr>
